/* App.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #2e2e2e, #383838, #2e2e2e);
  color: #e4e4e4;
  font-family: "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-custom-gradient {
  background: linear-gradient(to right, #2e2e2e, #383838, #2e2e2e);
}

.text-custom-color {
  color: #e4e4e4;
}
